@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
	     url(fonts/SourceSansPro-Regular.woff2) format('woff2'),
	     url(fonts/SourceSansPro-Regular.woff) format('woff');
}
body {
	background-color: #3f3f3f;
	color: #bbb;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 112.5%;
	line-height: 1;
	margin: 0;
	padding: 0;
}
nav, main, section, article {
	display: block;
}
#side {
	background-color: #2f2f2f;
}
#head, #nav {
	display: block;
	box-sizing: border-box;
	margin: 0;
}
#head {
	text-align: center;
	background-color: #1f1f1f;
	padding: 5% 0;
}
#nav {
	line-height: 3;
	list-style-type: none;
	padding: 0;
}
#main {
	padding: 5% 5% 15%;
	max-width: 32em;
}
#logo {
	display: none;
}
#title {
	display: block;
	width: 100%;
}
#head a {
	display: inline-block;
	vertical-align: middle;
	width: 35%;
	color: #f65;
}
#nav a {
	display: block;
	padding: 0 20%;
}
@media screen and (min-width: 600px) {
	#side {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 20%;
	}
	#head {
		padding: 25% 0;
	}
	#head a {
		width: 58%;
	}
	#main {
		position: relative;
		width: 70%;
		left: 20%;
	}
	#nav {
		height: 100%;
	}
	#logo {
		display: block;
		width: 60%;
		height: auto;
		margin: 0 auto 20%;
	}
	.selected {
		background-color: #3f3f3f;
	}
}
@media screen and (min-width: 1280px) {
	#side {
		width: 32%;
	}
	#head {
		height: 100%;
		width: 62.5%;
	}
	#nav {
		position: absolute;
		top: 0;
		right: 0;
		width: 37.5%;
	}
	#head, #nav {
		padding: 16% 0;
	}
	#main {
		width: 58%;
		left: 32%;
	}
	#nav a {
		padding: 0 30%;
	}
}
a {
	color: #fa5;
	text-decoration: none;
}
a:hover {
	color: #f65;
}
a:active {
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #ddd;
	margin: 3em 0 1em;
	font-weight: normal;
}
h1 {
	font-size: 1em;
}
h2 {
	color: #aaa;
	font-size: 2em;
}
section:first-child h2:first-child {
	margin-top: 0.3em;
}
h3 {
	font-size: 1.6666em;
}
p, ul {
	line-height: 1.6;
	margin: 0 0 1.6em;
}
ul {
	list-style-type: circle;
}
img {
	border: none;
	vertical-align: bottom;
	max-width: 100%;
}
time {
	display: block;
	color: #aaa;
	margin: -1.1em 0 1.1em;
	white-space: nowrap;
}
